@import 'bourbon/bourbon';
@import 'compass/css3';

.IntroCategory {
  @include padding(2em 0);
  @include display-flex();
  @include flex-direction(row);
  &-wrap{
    @include flex(0 0 33.33%);
    @include padding(0 0.5em);
  }
  &-item {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    img{
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}