@import 'bourbon/bourbon';
@import 'compass/css3';
@import 'color';

.MainMenu {
  background-color: rgba(0, 0, 0, .5);
  &-icon{
    margin-bottom: 1em;
    img{
      border-radius: 50%;
      width: 50px;
    }
  }

  &-wrap {
    @include display-flex();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
  }
  &-name{
    @include ellipsis();
    overflow: visible;
  }
  &-item {
    @include flex(1 0 14.28%);
    @include ellipsis();
    @include display-flex();
    @include flex-direction(column);
    font-weight: bold;

    color: white;
    @include flex-grow(1);

    text-transform: uppercase;
    //border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
    @include padding(1em 0);
    &:hover{
      color: #a1c900;    }
    &.is-active {
      color: white;
      //border-bottom: 1px solid #fff;
      &:before {
        border-width: 7px;
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        border-color: transparent;
        border-style: solid;
        border-top-width: 0 !important;
        border-bottom-color: inherit;
        -webkit-transform: translate(-13px, -1px);
        transform: translate(-13px, -1px);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        border-color: transparent;
        border-style: solid;
        border-top-width: 0 !important;
        border-bottom-color: inherit;
        border-width: 5px;
        -webkit-transform: translate(-4px, -1px);
        transform: translate(-4px, -1px);
      }
    }
    //&:hover{
    //
    //
    //}

  }
}