@import 'bourbon/bourbon';
@import 'compass/css3';
@import 'color';

.MainMenu {
  background-color: rgba(255,255,255,1);
  &-icon{
    margin-bottom: 5px;
    img{
      width: 40px;
      //border-radius: 50%;
      //width: 50px;
    }
  }

  &-wrap {
    @include display-flex();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
  }
  &-name{
    color: black;
    font-size:  1em;
    font-weight: 100;
    @include ellipsis();
    overflow: visible;
    &:hover{
      color: #a1c900;
    }
  }
  &-item {
    text-align: center;
    @include flex(1 0 14.28%);
    @include ellipsis();
    @include display-flex();
    @include flex-direction(column);
    font-weight: bold;

    color: black;
    @include flex-grow(1);

    text-transform: uppercase;
    //border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
    @include padding(1em 0);
    &:focus{
      text-decoration: none;
    }
    &:hover{
      color: #a1c900;
    }
    &.is-active {
      color: #a1c900;
      //color: #e8e8e8;
      //border-bottom: 1px solid #fff;
      &:before {
        border-width: 13px;
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        border-color: transparent;
        border-style: solid;
        border-top-width: 0 !important;
        border-bottom-color: inherit;
        -webkit-transform: translate(-13px, -1px);
        transform: translate(-20px, -1px);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        border-color: transparent;
        border-style: solid;
        border-top-width: 0 !important;
        border-bottom-color: inherit;
        border-width: 9px;
        -webkit-transform: translate(-4px, -1px);
        transform: translate(-4px, -1px);
      }
    }
    //&:hover{
    //
    //
    //}

  }
}