/* line 4, ../scss/Main.scss */
img {
  max-height: 100%;
}

/* line 8, ../scss/Main.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../scss/Main.scss */
a:hover {
  color: inherit;
}

/* line 18, ../scss/Main.scss */
.container {
  width: 1200px;
  margin: auto;
}
